

<div class="h-100 flex-column d-flex align-items-center">

    <h1 class="display-1">Xmas Bingo!</h1>

    <div class="d-flex justify-content-center pt-5 flex-grow-1 grid-container">
        <div class="pr-4 mr-4 overflow-auto previous-container">

            <h3>Previous Cards</h3>

            <div *ngFor="let previousGrid of previousGrids" class="pt-3">

                <div *ngIf="getBingo(previousGrid)" class="bingo-container-small d-flex justify-content-center align-items-center">
                    <h4>Bingo!!!</h4>
                </div>

                <div class="d-flex" *ngFor="let row of getRows(previousGrid)">
                    <div class="d-inline-flex small-cell border flex-column" *ngFor="let cell of getCells(row)">

                        <div *ngIf="cell.dobbed" class="splotch-container small-cell d-flex justify-content-center align-items-center">
                            <fa-icon [icon]="faSplotch"></fa-icon>
                        </div>

                        <div class="d-flex justify-content-center align-items-center flex-grow-1 image-container">
                            <img class="mw-100 mh-100 cell-image" [src]="getCellSource(cell)" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div class="d-flex flex-row-reverse pb-3">
                <button type="button" class="btn btn-primary" (click)="newGrid()">New</button>
            </div>

            <div>
                
                <div *ngIf="getBingo(grid)" class="bingo-container d-flex justify-content-center align-items-center">
                    <h1 class="display-1">Bingo!!!</h1>
                </div>

                <div class="d-flex" *ngFor="let row of getRows(grid)">
                    <div 
                        (click)="dobCell(cell)" 
                        class="d-inline-flex cell border flex-column" 
                        *ngFor="let cell of getCells(row)"
                        >

                        <div *ngIf="cell.dobbed" class="splotch-container cell d-flex justify-content-center align-items-center">
                            <fa-icon [icon]="faSplotch"></fa-icon>
                        </div>

                        <div class="d-flex justify-content-center align-items-center flex-grow-1 image-container">
                            <img class="mw-100 mh-100 cell-image" [src]="getCellSource(cell)" />
                        </div>
                        <div class="text-center">{{cell.display}} <fa-icon *ngIf="cell.dobbed" [icon]="faCheck"></fa-icon></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
