
$small-cell-size: 50px;

.cell{
    width: 200px;
    height: 200px;
}

.small-cell{
    width: $small-cell-size;
    height: $small-cell-size;
}

.previous-container{
    width: $small-cell-size * 5;
}

.image-container, .grid-container {
    min-height: 0;
}

.cell-image {
    object-fit: contain;
    width: auto;
    height: auto;
}
