/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "merryChristmas";
    src: url("assets/font/MerryChristmas-2OOrW.ttf") format("truetype");
}

h1, h2, h3, h4, h5 {
    font-family: "merryChristmas";
    color: #587758;
}

@import "~bootstrap/scss/bootstrap";
