.image-container {
    width: 800px;
    height: 800px;
}

$previousSize: 250px;

.previous-container{
    width: $previousSize;
}

.previous-card {
    width: $previousSize;
    height: $previousSize;
}